<!DOCTYPE html>
<html>
<head>
  <title>ISBN</title>
    <style>
      h1, p {
        text-align: center;
      }
    </style>
</head>
<body>
  <h1>Book ISBN</h1>
    <p><strong>ISBN:</strong> {{data.[0].isbn}}</p>
    <p><strong>Title:</strong> {{data.[0].title}}</p>
    <p><strong>Author:</strong> {{data.[0].authors}}</p>
</body>
</html>