<!DOCTYPE html>
<html>
  <head>
    <title>My Favorite Pet</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
      <style>
  .pet {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
    text-align: center;
  }
  .pet img {
    border-radius: 50%;
  }
  </style>
  </head>
  <body>
    <div class="content">
      <div class="pet">
        <h2>My Favorite Pet</h2>
        <img src="https://placekitten.com/250/300" alt="My Cat">
        <p>Name: Undas</p>
        <p>Breed: Philippine Cat</p>
        <p>Age: 5 years</p>
        <p>Description: Undas is playful and affectionate, seeking attention and cuddles.</p>
      </div>
    </div>
    <script src="app.js"></script>
  </body>
</html>