<!-- index.hbs -->

<!DOCTYPE html>
<html>
  <head>
    <title>Assignment 2</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style>
      header p {
        text-align: center;
        font-size: larger;
        font-weight: bold;
      }

       footer p {
        text-align: center;
        position: fixed;
        bottom: 0;
        width: 100%;
      }

    </style>
  </head> 
  <body>
       <header>
      <p>Jaimaica Daisy Eugenio - N01516797</p>
    </header>
     <div class="content">
      {{{body}}}
     </div>
        <footer>
      <p>Contact: jdsnavarro@gmail.com</p>
    </footer> 
    